extends layout

block content
  #banner.page-header
    br
    .row
        .col-lg-6
            h1= title
    .row
        .col-xs-12.col-sm-8
          .error= message
          app-food-list Loading...
block scripts
  script(type='text/javascript', src='/build/runtime.ec2944dd8b20ec099bf3.js')
  script(type='text/javascript', src='/build/main.b380855b3484fe208c98.js')