<div class="row">
	<div class="col-md-5 col-md-offset-1">
	<h2>Food Items</h2>
	<h4><strong>Click</strong> on each one to get details about it.</h4>
	<ul class="list-group">
		<li class="list-group-item"
			*ngFor="let foodItem of foodItems"
			(click)="selectFoodItem(foodItem)">
			{{ foodItem.name }}
		</li>
	</ul>
	<button class="btn btn-warning" (click)="createNewFoodItem()">New</button>
	</div>
	<div class="col-md-5 ">
		<app-food-detail
			[foodItem]="selectedFoodItem"
			[createHandler]="addFoodItem"
			[updateHandler]="updateFoodItem"
			[deleteHandler]="deleteFoodItem">
		</app-food-detail>
	</div>
</div>